html, body {
  height: 100%;
}

li {
  list-style-type: none;
}



.navbar a,
li a,
.nav a,
ul li a {
  color: #fff;
}

.navbar a:hover,
li a:hover,
.nav a:hover,
ul li a:hover {
  color: #20c997;
  text-decoration: none;
}


.title {
  padding-left: 2%; /* use this class for all title  */
  color: #34495E; 
}

hr {
  background-color: #000;
}


.container-fluid, .full-height{
  height: 100%;
}

.float-btn:after {
  content: '';
  display: block;
  clear: both;
}

.table thead th {
  text-align: center;
}

.table tbody td {
  text-align: center;
}

.float-right {
  margin-right: 2em;
  margin-bottom: 20px;
}

/* admin/post */

.btn-danger {
  color: #ffffff !important;
}

.table-style {
  width: 96% !important;
  margin-left: 20px;
}

.btn-center {
position: relative;
top: 50%;
transform: translateY(-50%);
}


.new-post-btn {
	margin-bottom: 50px; 
}


/* --------- */


/*     admin/album/show.blade.php   */
  
.photo-block {
  position: relative;
  width: 250px;
  height: 200px;
}

div.photo-block a {
  position: absolute;
  right: 5px;
  top: 0px;
  display: none;
}

#photo-image {
  width: 250px;
  height: 200px;
}

div.photo-block:hover a{
  display: block;
  color: #dc3545;
}

/*     admin/album/index.blade.php   */


.album-block {
  position: relative;
  width: 250px;
  height: 200px;
}

div.album-block:hover a{
  display: block;
  color: #dc3545;
}

div.album-block a {
  position: absolute;
  right: 5px;
  top: 0px;
  display: none;
}


#album-preview {
  width: 250px;
  height: 200px;
}

