.slider {
	width: 100%;
	height: auto;
	margin-top: 50px;
	margin-bottom: 10px;
}


.owl-carousel .item{
    border: 0;
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
    min-height: 300px;
}

